header{
    background-position: center;
    font-size: medium;
    font-style: italic;
    color : darkred;
    text-align: center;
    width : 100%;
    height : 30px;
}

form{
    background: 500px 500px;
    width: 100%;
    height: 200px;
}

div{
    border-width: 1px;
    border-style: dotted;
    border-color: black;
}
