body{
    text-align: center;
    width: 70%;
    height: 100%;
    margin: auto auto;
    background-color: antiquewhite;
}
header{
    background-color: mediumorchid;
    height: 40px;
}


#body_page{
    background-color: plum;
}
form{
    border-color: gray;
    border-style: double;
    border-width: 2px;
    height: 100px;
}

table{
    border-width: 2px;
    border-color: black;
    border-style: double;
    height: 20px;
    width: 70%;
    text-align: center;
    margin: auto 28%;
}

form input{
    height: 40px;
}

section img{
    width: 80%;
    height: 500px;
    background-color: aqua;
}
#name{

}

div a button{
    height: 400px;
    width: 650px;
    text-align: center;
    background-position: center;
    background-size: 100% 100%;
    background-image: url("https://cdn.pixabay.com/photo/2013/10/27/17/14/snowfall-201496_960_720.jpg");
    opacity: 0.7;
}

.after{
    margin: 0 0 0 60%;
}

audio{
    width: 800px;
}